.footer__link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  
  .footer__link-list {
    display: flex;
    align-items: flex-end;
    gap: 18px;
  }
}
