.cover__link {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  background-color: rgba(42, 44, 47, 0.3); /* #2A2C2F */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8); /* #2A2C2F */
}