.places {
  padding: 64px 0 66px;
  display: grid;
  margin: auto;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .places {
    gap: 73px;
  }
}

@media screen and (min-width: 1024px) {

  .places {
    gap: 80px;
  }
}