.cover__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 16px 0 0;
  max-width: 288px;
}

@media screen and (min-width: 768px) {
  
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin: 32px 0 0;
    max-width: 360px;
  }
}
