.place__paragraph-container {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {

  .place__paragraph-container {
    padding-left: 0;
    padding-right: 0;
  }
}

