.place__paragraph {
  font-size: 16px;
  line-height: 163%;
  margin: 0;
}

.place__paragraph:not(:first-child) {
  margin-top: 25px;
}

@media screen and (min-width: 1024px) {

  .place__paragraph {
    font-size: 18px;
  }
}