.place {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  
  .place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, min-content) ;
    column-gap: 28px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  
  .place {
    column-gap: 32px;
    padding: 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: repeat(2, 38%);
    column-gap: 40px;
  }
}